<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myfirstapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myfirstapp.AcceptProfile"
            android:label="@string/title_activity_accept_profile" >
        </activity>
        <activity
            android:name="com.example.myfirstapp.AcceptProfileConnectServer"
            android:label="@string/title_activity_accept_profile_connect_server" >
        </activity>
        <activity
            android:name="com.example.myfirstapp.AcceptProfileServerRes"
            android:label="@string/title_activity_accept_profile_server_res" >
        </activity>
        <activity
            android:name="com.example.myfirstapp.ViewProfiles"
            android:label="@string/title_activity_view_profiles" >
        </activity>
        <activity
            android:name="com.example.myfirstapp.MineCreateProfile"
            android:label="@string/title_activity_mine_create_profile" >
        </activity>
        <activity
            android:name="com.example.myfirstapp.MineViewProfile"
            android:label="@string/title_activity_mine_view_profile" >
        </activity>
        <activity
            android:name="com.example.myfirstapp.MineSendProfile"
            android:label="@string/title_activity_mine_send_profile" >
        </activity>
        <activity
            android:name="com.example.myfirstapp.MineQRCode"
            android:label="@string/title_activity_mine_qrcode" >
        </activity>
    </application>

</manifest>
